@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body {
  min-height: 95vh;
  background-image: url("../img/jpg/34.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* background-color: #e1e8ee; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.cont_presentacion {
  height: 500px;
  width: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("../img/cebu.jpg");
  position: relative;
  background-position-x: center;
}

.titulo {
  font-family: 'Squada One', cursive;
  display: flex;
  justify-content: center;
  font-size: 70px;
  position: relative;
  top: 20px;
}


.contenedor {
  height: 500px;
  width: 350px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.isesion {
  font-size: 30px;
  color: #212121;
  text-align: center;
  font-family: "Anton", sans-serif;
}

#avatar {
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
}

#cont-cajas {
  display: block;
  margin: auto;
  margin-top: 30px;
  height: 150px;
  width: 250px;
  background-color: #f8d82d;
  border-radius: 10px;
}

.caja {
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
  height: 20px;
  width: 200px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgb(128, 128, 128);
  font-family: "Fira Sans";
  font-size: 16pt;
  color: #2121218f;
}

.caja:focus {
  border-bottom: 2px solid #ad3c3c8f;
}

::placeholder {
  color: #2121218f;
  font-size: 20px;
}

.btn {
  cursor: pointer;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f8d82d;
  /* border-color: black; */
  /* border-color: #d8d8d8; */
  /* border-width: 3px; */
  /* border-style: solid; */
  border: none;
  border-radius: 35px;
}